.result{
    padding: 10px;
}

.result .card{
    width: 20rem; border-radius: 20px;
}

.result img{
    border-radius: 20px;
}

.customp{
    margin: 5%;
}

.catalog .card-text{
    padding: 0;
    width: 25.333333%;
}

.customNumber{
    position: relative;
    right: 16%;
    top: 7%;
    z-index: 1000;
}

.customNumber span{
    background-color: white;
    padding: 2px 15px 2px 15px;
    border-radius: 2rem;
    font-size: 12px;
}
